*{
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Open Sans', sans-serif;
}
body{
 height: 100px;
 background-color:skyblue; 
 background-size: cover; 
 background-position: center; 
}
.container{ 
 padding: 20px 25px; 
 width: 300px;
 background-color: white;
 box-shadow: red; 
 }
 
.container h2{
text-align: left; 
color: black;
margin-bottom: 30px; 
border-bottom: 4px solid blue;
}

.table{
    text-align : center; 
}

.judul{
    text-align: center;
}

img{
    width : 100px;
    height :100px;
}
